{% extends "layout.html" %}

{% block title %}
    Hobbies
{% endblock %}

{% block main %}
    <h1>Hobbies</h1>
    <div class="container py-4">
        <div class="row justify-content-center">
            {% for note in notes %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm border-1 border border-secondary" style="background-color: #303138; border-radius: 10px; color: #57A6A1;">
                        <div class="card-body">
                            <h5 class="card-title " style="color: #82aaff;">{{ note[2] }}</h5>
                            <h6 class="card-subtitle mb-2 " style="color: #c3e88d;">Category: {{ note[1] }}</h6>
                            <p class="card-text" style="color: #ffffff;">{{ note[3] }}</p>
                            <p class="card-date" style="color: #ffcb6b;"><small>Date: {{ note[4] }}</small></p>
                            <div class="d-flex justify-content-between">
                                <form method="GET" action="/edit/{{ note[0] }}">
                                    <button class="btn btn-sm btn-edit-primary">Edit</button>
                                </form>
                                <form method="GET" action="/delete/{{ note[0] }}">
                                    <button class="btn btn-sm btn-delete-primary">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
